<div class="section-wrapper">
    <section class="section2">
        <form class="form" [formGroup]="registerForm" (ngSubmit)="createUser()">
            <h2>Create new user</h2>
            <input type="text" id="userName" autocomplete="userName" placeholder="User name" formControlName="userName">
            <input type="password" id="userPassword" autocomplete="userPassword" placeholder="Password" formControlName="userPassword">

            <div class="form-errors">
                <div *ngIf="
                registerFormControl.userName.errors?.required &&
                registerFormControl.userName.touched">
                    User name is required.
                </div>

                <div *ngIf="
                registerFormControl.userName.errors?.uniqueUserName &&
                registerFormControl.userName.touched">
                    This user exists.
                </div>

                <div *ngIf="
                registerFormControl.userPassword.errors?.required &&
                registerFormControl.userPassword.touched">
                    Password is required.
                </div>
            </div>

            <div class="form__actions">
                <button class="add" id="clear" type="button" (click)="resetForm()">
                    <i class="fas fa-redo"></i>
                </button>
                <button class="add" id="confirm" type="submit" [disabled]="!registerForm.valid">
                    <i class="fas fa-chevron-right"></i>
                </button>

            </div>
        </form>
    </section>
</div>
