<div class="section-wrapper">
    <section class="section2">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onClickLoginUser()">
            <h2>Please login</h2>
            <input type="text" id="userName" autocomplete="userName" placeholder="User name" formControlName="userName">
            <input type="password" id="userPassword" autocomplete="userPassword" placeholder="Password"
                   formControlName="userPassword">

            <div class="form-errors">
                <div *ngIf="
                loginFormControl.userName.errors?.required &&
                loginFormControl.userName.touched">
                    User name is required.
                </div>

                <div *ngIf="
                loginFormControl.userPassword.errors?.required &&
                loginFormControl.userPassword.touched">
                    Password is required.
                </div>
            </div>

            <div class="form__actions">
                <button class="add" id="clear" type="button" (click)="resetForm()">
                    <i class="fas fa-redo"></i>
                </button>
                <button class="add" id="confirm" type="submit" [disabled]="!loginForm.valid">
                    <i class="fas fa-chevron-right"></i>
                </button>

            </div>
        </form>
    </section>
</div>
