<div class="cart">
    <i class="fas fa-shopping-cart" (click)="onCartClick()"></i>
    <div class="cart-counter" *ngIf="cartProducts.length > 0">{{cartProducts.length}}</div>
    <span class="underline">cart</span>

    <div class="wrapper" [ngClass]="showCart ? 'showCart' : 'hideCart'">
        <p class="cart-notice" *ngIf="cartProducts.length < 1 else cartTitle">Cart is empty</p>
        <ng-template #cartTitle>
            <p class="cart-notice">
                You have {{cartProducts.length}}
                <span *ngIf="cartProducts.length == 1 else moreItems">item</span>
                <ng-template #moreItems>items</ng-template>
                in your cart
            </p>
        </ng-template>
        <div class="product" *ngFor="let item of cartProducts">
            <img class="fig" src="{{item.image}}" alt=""/>
            <div class="product-details">
                <p class="title">{{item.title}}</p>
                <div class="amount">€ {{item.price}}</div>
                <div class="remove" (click)="removeFromCart(item)"><i class="far fa-trash-alt"></i></div>
            </div>

        </div>
    </div>
</div>

