@import "../../../../styles";

.cart {
    .cart-counter {
        position: absolute;
        top: 0;
        right: 10px;
        height: 15px;
        min-width: 15px;
        line-height: 15px;
        font-size: 10px;
        border-radius: 10px;
        background: $yellow;
        box-shadow: 0 4px 4px rgba(0,0,0,0.2);
        color: lighten($blue, 10%);
        font-weight: bold;
        padding: 2px;
    }
    .wrapper {
        position: absolute;
        display: none;
        top: calc(100% + 36px);
        right: 0;
        padding: 10px;
        z-index: 9;
        background: lighten($blue, 10%);
        box-shadow: 0 10px 10px rgba(0,0,0,0.2);
        flex-direction: column;
        min-width: 250px;

        .cart-notice {
            margin-bottom: $spacer;
        }

        .product {
            border-bottom: 1px solid lightgray;
            padding: 15px;
            display: flex;
            color: $body-font;

            &-details {
                padding: 0 15px 0 5px;
                position: relative;
                width: 100%;
                text-align: left;

                .remove {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -12px;
                    color: lighten($blue, 10%);
                    transition: 200ms;
                    cursor: pointer;

                    &:hover {
                        text-shadow: 0 4px 4px rgba(0,0,0,0.2);
                    }

                    i {
                        font-size: 18px;
                    }
                }
            }

            .fig {
                height: 75px;
            }

            .title {
                margin-top: 0;
            }
        }
    }

    .showCart {
        display: flex;
    }

    .hideCart {
        display: none;
    }
}
