@import "../../../../styles";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px lighten($blue, 10%) inset !important;
    -webkit-text-fill-color: white !important;
}

header {
    display: flex;
    flex-direction: column;
    padding: $padding;
    margin-bottom: $spacer;
    background: lighten($blue, 10%);
    color: $white;
    font-weight: bold;

    .logo {
        font-size: 2rem;
        font-family: $logo-font;
        color: $white;
        text-transform: lowercase;

        i {
            color: $yellow;
            position: relative;
            left: -5px;
            top: 3px;
            font-size: 3.5rem;
        }
    }

    .top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;

        .right {
            display: flex;
            flex-direction: row;

            .search, .login {
                padding: 1rem;
                font-size: 0.8rem;
                text-align: center;
                position: relative;
                border-bottom: 2px solid transparent;

                i {
                    display: block;
                    margin-bottom: 10px;
                    font-size: 1.5rem;
                    color: $yellow;
                }

                &:hover .underline {
                    border-bottom: 2px solid $yellow;
                    padding-bottom: 5px;
                    transition: 300ms;
                }
            }

            .search {
                display: flex;
                align-items: center;
                position: relative;

                &-bar {
                    display: inline-block;
                    background: transparent;
                    min-height: 42px;
                    min-width: 300px;
                    border: 0;
                    border-bottom: 2px solid $yellow;
                    color: white;
                    font-size: 1rem;

                    &:focus {
                        outline: 0;
                    }
                }

                .fa-search {
                    position: absolute;
                    right: 27px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &-results {
                    position: absolute;
                    top: 80%;
                    background: white;
                    width: 500px;
                    right: 16px;
                    display: flex;
                    flex-direction: column;
                    z-index: 9;
                    box-shadow: $box-shadow;

                    &__wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        padding: $spacer;

                        .item {
                            width: calc(33.333% - 12px);
                        }
                    }
                }
            }

            .login {
                &-wrapper {
                    position: relative;
                    z-index: 1;

                    &:hover .login-items {
                        display: block;
                    }
                }

                &-items {
                    position: absolute;
                    padding: $spacer;
                    background: lighten($blue, 10%);
                    right: 0;
                    width: max-content;
                    display: none;
                }

                &-item {
                    list-style: none;
                    padding: 10px 0;
                }
            }
        }
    }

    nav {
        text-transform: uppercase;
        text-align: center;

        a {
            padding: 0.5rem;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid $yellow;
                padding-bottom: 0.6rem;
                transition: 300ms;
            }
        }
    }
}

.hidden {
    display: none !important;
}