<header>
    <div class="top-bar">
        <a class="logo"
           routerLink="/"
           routerLinkActive="true"
           [routerLinkActiveOptions]="{ exact: true }"
        >
            astro
            <i class="fas fa-meteor"></i>
        </a>
        <div class="right">
            <h2 *ngIf="userFromSession.length > 0">Welcome {{userFromSession}}</h2>
            <div class="search">
                <form (submit)="onSearchClick(searchKeyword)">
                    <input class="search-bar" [(ngModel)]="searchKeyword" name="searchKey"/>
                    <i class="fas fa-search" (click)="onSearchClick(searchKeyword)"></i>
                </form>
                <div class="section products search-results" *ngIf="result"
                     [ngClass]="isSearchOpen === false ? 'hidden': 'ok'">
                    <div *ngIf="result.length > 0; else no_result">
                        <h2>Search results</h2>
                    </div>
                    <ng-template #no_result><h2>Nothing was found</h2></ng-template>
                    <div class="search-results__wrapper">
                        <div class="item" *ngFor="let res of result">
                            <a routerLink="/edit-product/{{res.id}}" class="item-link">
                                <figure>
                                    <img class="fig" src="{{res.image}}" alt=""/>
                                </figure>
                            </a>
                            <div class="price">
                                <span>{{res.title}}</span>
                                <span class="amount">€ {{res.price}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-wrapper">
                <a href="#" class="login">
                    <i class="fas fa-user-astronaut"></i>
                    <span class="underline">login</span>
                </a>
                <ul class="login-items">
                    <li class="login-item ">
                        <a
                            routerLink="/register"
                            routerLinkActive="true"
                            [routerLinkActiveOptions]="{ exact: true }">
                            Register
                        </a>
                    </li>
                    <li class="login-item">
                        <a
                            routerLink="/login"
                            routerLinkActive="true"
                            [routerLinkActiveOptions]="{ exact: true }">
                            Login
                        </a>
                    </li>
                    <li class="login-item">
                        <a
                            routerLink="/reset-password"
                            routerLinkActive="true"
                            [routerLinkActiveOptions]="{ exact: true }">
                            Reset password
                        </a>
                    </li>
                    <li class="login-item">
                        <a
                            (click)="logOutClick()"
                            routerLink="/login"
                            routerLinkActive="true"
                            [routerLinkActiveOptions]="{ exact: true }">
                            Log out
                        </a>
                    </li>
                </ul>
            </div>


            <app-cart></app-cart>
        </div>
    </div>

    <nav>
        <a href="">rockets</a>
        <a href="">rocket fuel</a>
        <a href="">rocket parts</a>
        <a href="">flights to mars</a>
    </nav>
</header>