<div class="section-wrapper">
    <section class="section">
        <form class="form" [formGroup]="editProductForm" (ngSubmit)="editProduct()" *ngIf="isLoggedIn; else loginBlock">
            <h2>Edit product</h2>
            <figure class="figImage"></figure>
            <input type="text" id="edit_title" placeholder="Title" formControlName="productTitle">
            <input type="text" id="edit_image" placeholder="Image URL" formControlName="productImage">
            <input type="text" id="edit_price" placeholder="Price" formControlName="productPrice">

            <div class="form-errors">
                <div *ngIf="
                editProductsFormControl.productTitle.errors?.required &&
                editProductsFormControl.productTitle.touched">
                    Rocket title is required.
                </div>
                <div *ngIf="
                editProductsFormControl.productImage.errors?.required &&
                editProductsFormControl.productImage.touched">
                    Rocket image url is required.
                </div>
                <div *ngIf="
                editProductsFormControl.productPrice.errors?.required &&
                editProductsFormControl.productPrice.touched">
                    Rocket price is required.
                </div>
                <div *ngIf="
                editProductsFormControl.productPrice.errors?.min &&
                editProductsFormControl.productPrice.dirty">
                    Rocket price has to be greater than 0.
                </div>
            </div>

            <div class="form__actions">
                <button class="add" id="edit_delete" type="button" (click)="deleteProduct()"><i
                        class="fas fa-minus"></i></button>
                <button class="add" id="edit_confirm" type="button" (click)="editProduct()"><i
                        class="fas fa-chevron-right"></i></button>
            </div>
        </form>
        <ng-template #loginBlock>
            <h3>You need to login to be able to edit products</h3>
        </ng-template>
    </section>
</div>
