@import "../../../../styles";

.filters {
    padding: $spacer;
    text-align: center;

    .filter {
        border: 2px solid $yellow;
        margin: 5px;
        padding: 10px;
        cursor: pointer;
        transition: 300ms;
        background: white;
        color: $blue;
        text-transform: uppercase;

        &:hover {
            background: $blue;
            color: $white;
        }

        &.active {
            box-shadow: 0 3px 0 $blue;
        }
    }
}