<div class="section-wrapper">
    <app-filters [filters]="filters" [selectedIds]="selectedFilterIds" (filterOn)="onFilterOn($event)" (filterOff)="onFilterOff($event)"></app-filters>
    <div class="section products">
        <div class="item" *ngFor="let product of products | filterPrice :filters :selectedFilterIds">
            <a routerLink="/edit-product/{{product.id}}" class="item-link">
                <figure>
                    <img class="fig" src="{{product.image}}" alt=""/>
                    <figcaption class="title">{{product.title}}</figcaption>
                </figure>
            </a>
            <div class="price">
                <button [disabled]="!isLoggedIn" class="buy" (click)="addToCartClick(product)">Buy now</button>
                <span class="amount">€ {{product.price}}</span>
            </div>
        </div>
    </div>
    <a routerLink="/add-product" routerLinkActive="true" class="add" *ngIf="isLoggedIn"><i class="fas fa-plus"></i></a>
</div>

