[disabled] {
    opacity: 0.5;
}

.form {
    position: relative;

    &-errors {
        position: absolute;
        bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 60px;
        left: 50%;
        transform: translateX(-50%);
    }
}