<div class="section-wrapper">
    <section class="section2">
        <form class="form" [formGroup]="addProductForm" (ngSubmit)="createProduct()">
            <h2>Add new product</h2>
            <input type="text" id="title" placeholder="Title" formControlName="productTitle">
            <input type="text" id="image" placeholder="Image URL" formControlName="productImage">
            <input type="text" id="price" placeholder="Price" formControlName="productPrice">

            <div class="form-errors">
                <div *ngIf="
                addProductsFormControl.productTitle.errors?.required &&
                addProductsFormControl.productTitle.touched">
                    Rocket title is required.
                </div>

                <div *ngIf="
                addProductsFormControl.productTitle.errors?.uniqueTitle &&
                addProductsFormControl.productTitle.touched">
                    Rocket title already exists.
                </div>

                <div *ngIf="
                addProductsFormControl.productImage.errors?.required &&
                addProductsFormControl.productImage.touched">
                    Rocket image url is required.
                </div>
                <div *ngIf="
                addProductsFormControl.productPrice.errors?.required &&
                addProductsFormControl.productPrice.touched">
                    Rocket price is required.
                </div>
                <div *ngIf="
                addProductsFormControl.productPrice.errors?.min &&
                addProductsFormControl.productPrice.dirty">
                    Rocket price has to be greater than 0.
                </div>
            </div>


            <div class="form__actions">
                <button class="add" id="clear" type="button" (click)="resetForm()">
                    <i class="fas fa-redo"></i>
                </button>
                <button class="add" id="confirm" type="submit" [disabled]="!addProductForm.valid">
                    <i class="fas fa-chevron-right"></i>
                </button>

            </div>
        </form>
    </section>
</div>
